body {
    text-align: center;
    font-family: Nunito, sans-serif;
    background: #215f00;
    background: -webkit-linear-gradient(to left, #e4e4d950, #215f00);
    background: linear-gradient(to left, #e4e4d950, #215f00);
    margin: 0;
    padding: 0;
}

section {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin:0 auto;
}

#socialLinks {
    display: flex;
    flex-direction: row;
    margin-bottom:2em;
}

/*
    ABOUT
*/
section h1,h2,h3,h4,h5,h6, p {
    padding:0;
    font-weight: 900;
}

#hello h1 {
    margin-top: 3em;
}

#hello h3 {
    padding-top: 0.5em;
    width: 90%;
    margin: 0 auto;
}

#hello h4 {
    margin-top: 1em;
    color: #000
}

#socialLinks a {
    padding: 0 20px;
}

#hello img {
    height: 5em;
    width: 4em;
}

i:hover {
    cursor: pointer;
}

/*
    MAIN BODY
*/

.italic {
    font-style: italic;
}

main {
    overflow: hidden;
}
