header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
    background-color: #A1B57D
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background-color: #A1B57D
}

.normal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    padding: 0em 2em;
}

a {
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    color: #19282F;
    text-decoration: none;
    transition: 500ms;
    border-bottom: 1px solid transparent;
}

a:hover {
    border-color: #19282F;
}

.hamburger button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 561px) {
    .normal {
        display: none;
    }
}

@media only screen and (min-width: 561px) {
    .hamburger {
        display: none;
    }
}