<div id="skills">
    <h1>My Skills</h1>

    <section class="skillset">
        <section>
            <div>
                <h3>Front-End development</h3>
            </div>
            <div>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-javascript-plain"></i>
                <i class="devicon-typescript-plain"></i>
                <i class="devicon-jquery-plain-wordmark"></i>
            </div>
            <div>
                <i class="devicon-react-original-wordmark"></i>
                <i class="devicon-angularjs-plain"></i>
                <i class="devicon-vuejs-plain-wordmark"></i>
                <i class="devicon-redux-original"></i>
                <i class="devicon-firebase-plain-wordmark"></i>
            </div>
        </section>
        
        <section>
            <div>
                <h3>Back-End development</h3>
            </div>
            <div>
                <i class="devicon-dotnetcore-plain"></i>
                <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
                <i class="devicon-mongodb-plain-wordmark"></i>
                <i class="devicon-visualstudio-plain"></i>
            </div>
        </section>

        <section>
            <div>
                <h3>Game Development</h3>
            </div>
            <div>
                <i class="devicon-csharp-plain"></i>
                <i class="devicon-unity-original"></i>
            </div>
        </section>

        <section>
            <div>
                <h3>Cross-platform Development</h3>
            </div>
            <div>
                <i class="devicon-python-plain"></i>
                <i class="devicon-qt-original"></i>
                <i class="devicon-vscode-plain"></i>
                <i class="devicon-pycharm-plain"></i>
            </div>
        </section>

        <section>
            <div>
                <h3>Also others technologies</h3>
            </div>
            <div>
                <i class="devicon-linux-plain"></i>
                <i class="devicon-markdown-original"></i>
                <i class="devicon-azure-plain-wordmark"></i>
                <i class="devicon-git-plain-wordmark"></i>
            </div>
            <div>
                <i class="devicon-gimp-plain"></i>
                <i class="devicon-trello-plain-wordmark"></i>
                <i class="devicon-ubuntu-plain-wordmark"></i>
            </div>
        </section>
    </section>

</div>