#skills {
  text-align: center;
  padding: 0em 2em;
  padding-top: 5em;
}

i {
  font-size: 40px;
  padding: 5px;
}

section > div {
  width: 280px;
  display: flex;
  justify-content: center;
}

.skillset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

i {
  font-size: 50px;
}

@media only screen and (max-width: 769px) {
  i {
    font-size: 25px;
  }
}
